@using BearBytes.Mvc.Helpers

<ul class="nav pull-right">          
    @if (Request.IsAuthenticated) {
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-cog icon-white"></i> @User.Identity.Name
            <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>@Html.IconActionLink("Manage", "Manage", "Account", "icon-briefcase")</li>  
                <li>@Html.IconActionLink("Log Out", "LogOff", "Account", "icon-off")</li>  
            </ul>
        </li>  
        

    } else {
        <ul class="nav">  
            <li>@Html.IconActionLink("Log in", "Login", "Account", "icon-user icon-white")</li>  
        </ul>
    }
</ul>
